.test_header_logo {
    margin: 2rem 0;
    font-family: 'DM Serif Display', serif;
}


.test_header_botton {
    margin-bottom: 2rem;
}

.test_footer_logo{
    margin: 1.5rem 0;font-family: 'DM Serif Display', serif;
}

.test_footer_button {
    margin-top: 1.5rem;
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}